<div>
    <sly-card class="mt15"
              title="Step 1. Define remote directory and select datasets to upload"
              subtitle="Remote path should be defined to the folder with 'meta.json' file. Select one/several/all datasets that will be uploaded"
    >
        <div class="fflex">
            <div style="white-space: nowrap;" class="mr10" >Remote directory:</div>
            <el-input v-model="state.remoteDir" placeholder="Please input path to remote directory"></el-input>
            <el-button class="ml15" type="primary" @click="command('preview_remote');" :disabled="data.uploadStarted">
                <i class="zmdi zmdi-globe" style="margin-right: 5px"></i> Preview remote
            </el-button>
        </div>


        <div v-if="data.listing.length > 0 && data.previewError.length === 0">
            <div class="fflex">
                <el-button type="text" @click="command('select_all');">
                    <i class="zmdi zmdi-check-all"></i> Select all
                </el-button>
                <el-button type="text" @click="command('deselect_all');" style="margin-left: 25px;">
                    <i class="zmdi zmdi-square-o"></i> Deselect all
                </el-button>
            </div>
            <div style="overflow: scroll; max-height: 300px">
                <div v-for="(item,index) in data.listing" :key="index">
                    <el-checkbox class="mt5"
                                 v-model="state.listingFlags[index].selected"
                                 :disabled="state.listingFlags[index].disabled">
                        {{data.listing[index].name}}
                    </el-checkbox>
                </div>
            </div>
        </div>


        <div class="mt15" v-if="data.previewError.length > 0" style="color: red">{{data.previewError}}</div>

    </sly-card>

    <sly-card class="mt15" title="Step 2. Set up destination and start upload"
              subtitle="Define destination: workspace/project. If destination doesn't exist, it will be created.
              If dataset already exists, it will be skipped during upload.">
        <div class="fflex">
            <div style="width: 100px">Team:</div>
            <el-input v-model="state.teamName" :disabled="true"></el-input>
        </div>
        <div class="fflex mt15">
            <div style="width: 100px">Workspace:</div>
            <el-input v-model="state.workspaceName" :disabled="data.uploadStarted"></el-input>
        </div>
        <div class="fflex mt15">
            <div style="width: 100px">Project:</div>
            <el-input v-model="state.projectName" placeholder="Please input result project name" :disabled="data.uploadStarted"></el-input>
        </div>
    </sly-card>

    <sly-card class="mt15" title="Step 3. Start upload"
              subtitle="Data in Supervisely format will be uploaded to defined destination.
              JSON annotations will be directly uploaded to Supervisely. Images will be uploaded by links,
              it means that data will NOT be copied to supervisely server and will be accessible by link.">

        <sly-field title="Add to existing project"
                   description="If checked">
            <el-checkbox v-model="addToExisting" :disabled="true">
                Allow to add to existing project (classes will be merged)
            </el-checkbox>
        </sly-field>

        <el-button type="primary" @click="command('start_import');" :disabled="data.uploadStarted">
            <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Start upload
        </el-button>
        <div class="mt15" v-if="data.uploadStarted">
            <div>Uploaded: {{data.uploadedCount}} / {{data.totalCount}}</div>
            <el-progress :percentage="data.uploadProgress"></el-progress>
        </div>
        <div style="color: red" v-if="data.uploadError.length > 0">{{data.uploadError}}</div>
    </sly-card>

    <sly-card class="mt15" title="App logs" subtitle="All warnings and errors will be available here">
        <sly-logs :task-id="data.taskId" />
    </sly-card>
</div>